.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB',
    'Source Han Sans CN', 'Source Han Sans SC', 'Microsoft YaHei',
    'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei,
    'WenQuanYi Zen Hei Sharp', sans-serif;
  min-height: 100%;
}

.App-header-item-container {
  margin-left: 20px;
}
.App-header-item {
  color: #ffadd2;
  font-weight: bold;
}
.App-header-item:hover {
  color: #eb2f96;
}
.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  font-size: 30px;
  /* line-height: 2.2; */
}
.App-social {
  color: rgb(85, 85, 85);
  margin: 20px;
  font-size: 40px;
}
.App-social:hover {
  color: #ffadd2;
  transform: scale(1.5);
}

.App-header {
  background-color: #fff;
  color: white;
  margin-bottom: 55px;
}

.App-link {
  color: #fff;
  margin: 15px 10px;
  text-decoration: none;
}
.App-link:hover {
  color: #eb5055;
}

.App-link-wrapper {
  margin: 15px 10px;
  text-align: left;
}

.App-content {
  max-width: 660px;
  margin: 0 auto 140px;
  min-height: auto;
}

.footer-inner {
  max-width: 960px;
  color: #fff;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.App-description {
  max-width: 510px;
  line-height: 1.5;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
