.App {
	text-align: center;
	/* max-width: 960px;
	margin: auto; */
}

.App-logo {
	/* animation: App-logo-spin infinite 20s linear; */
	height: 22px;
}

.App-header {
	background-color: #fff;
	color: white;
}

.header-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 960px;
	margin: auto;
}

.App-link {
	/* color: #61dafb; */
	color: #000;
	margin: 15px 0 15px 20px;
}

.App-link-wrapper {
	flex: 1;
	text-align: left;
}

.App-content {
	max-width: 960px;
	margin: auto;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}