ul {
  list-style-type: none;
}
ul li {
  margin: 21px 0;
  padding: 0 55px;
}
/* .post {
  display: flex;
  justify-content: space-between;
}
.post-text-wrapper {
  display: flex;
  flex-direction: column;
} */

.tag-title {
  font-style: italic;
  font-weight: 200;
}
.post-title a {
  color: #666;
}
.post-title a:hover {
  padding-bottom: 3px;
  color: #111111;
  border-bottom: 1px solid #3a4145;
}
.post-desc {
  flex: 1;
  margin: 0 13px 13px 0;
  color: #555;
  line-height: 2;
  max-height: 120px;
  overflow: hidden;
}
.post-info-wrapper a {
  color: #1971c2;
  text-decoration: none;
}

.tag:hover {
  border-bottom: none;
}
.post-info {
  font-size: 13px;
  margin-right: 8px;
}
.post-cover img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}
@media only screen and (max-width: 950px) {
  .post-cover {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  ul {
    padding: 20px;
  }
  li {
    padding: 0;
  }
  .tag-title {
    padding-left: 20px;
  }
}
