.mata span {
  margin-right: 10px;
  color: #777;
}
.mata-link {
  color: #1971c2;
  text-decoration: none;
}
.mata-link:hover {
  padding-bottom: 3px;
  border-bottom: 1px solid #1971c2;
}
blockquote {
  margin-left: 0;
  padding-left: 34px;
  border-left: 0.5em #eee solid;
  color: #777;
  line-height: 1.5;
}
h1 {
  margin-bottom: 34px;
}
p {
  line-height: 2;
}
pre {
  line-height: 1.5;
}
ol {
  padding-left: 15px;
}
ol li {
  padding-left: 10px;
  line-height: 2;
}
p code {
  background: #f7f7f7;
  padding: 5px;
}
